body {
   display: contents;
   font-family: CircularSp, spotify-circular, Helvetica, Arial, sans-serif;
}

.border {
    border: 1px solid red
}

.nav-bar {
    background-color: #000;
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-bar-left {
    width: 132px;
    height: 41.9px;
    position: absolute;
    left: 102px;
}

.nav-bar-right {
    color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 102px;
    width: 476px;
    font-weight: 700;
    font-size: 16px;
}

.nav-bar-right-items {

}